.metadata/
.metadata/.plugins/org.eclipse.cdt.core/*.*.pdom
.metadata/.plugins/org.eclipse.core.resources/.history
RemoteSystemsTempFiles/
gui/debug
gui/release
source/Debug
source/Release
Testeur/Debug
Testeur/Release
utilisation/Debug
utilisation/Release